:root{
    color: rgba(179, 132, 45, 1); 
    color: rgba(255, 170, 10, 1); 
    color: rgba(255, 217, 145, 1); 
    color: rgba(21, 89, 179, 1); 
    color: rgba(192, 219, 255, 1); 
    }
    body
    {
        background: rgba(179, 132, 45, 1);
        font-family: 'Courier New', Courier, monospace;
        color: rgba(255, 217, 145, 1);
    }
    header{
        text-align: center;
    }
    h1{
        text-align: center;
        font-size: 3em;
        color: rgba(255, 217, 145, 1)
    }
    main{
        width: 80%;
        background: rgba(255, 170, 10, 1);
        color: rgba(21, 89, 179, 1);
        margin: 5px auto;
        border: 3px solid rgba(192, 219, 255, 1);
    }
    nav{
        text-align: center;
    }
    nav a {
        padding: 10px 15px;
        line-height: 2;
        text-decoration: none;
        font-size: 2em;
        background: rgba(255, 170, 10, 1);
        margin: 10px 20px;
        border-radius: 20px;
        border: 2px solid rgba(192, 219, 255, 1);
        color: rgba(21, 89, 179, 1)
    }
    a{
        font-size: 2em;
    }
    footer{
        text-align: center;
        font-size: 1.25em;
        color: rgba(192, 219, 255, 1)
    }
    footer a {
        margin: 10px 20px;
        text-decoration: none;
        color: rgba(21, 89, 179, 1)
    }
    img{
        width: 50%;
        margin: 5px auto;
        border-radius: 20px;
        margin: 10px 20px;
        border: 2px solid black;
        color: rgba(192, 219, 255, 1);
    
    }